:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.col-checkbox {
  width: 44px;
  text-align: center;
  padding: 8px 0 !important;
}

.col-text {
  font-size: 13px;
  color: inherit;
}

.col-desc {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12.5px;
  color: inherit;
  opacity: 0.75;
}

.d365-status-tag {
  border-radius: 2px;
  font-size: 12px;
  font-weight: 500;
  padding: 1px 8px;
  margin: 0;
}

.tag-active {
  background-color: #dff6dd;
  border-color: #107c41;
  color: #107c41;
}

.tag-inactive {
  background-color: #f3f2f1;
  border-color: #8a8886;
  color: #605e5c;
}
