## .NET / Visual Studio
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
_ReSharper*/
*.DotSettings.user

## Node / Angular (bubbabag-client)
**/node_modules/
**/dist/
**/.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

## IDEs & OS
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.DS_Store
Thumbs.db
